// 按钮
// ------------------------------------------------------------------------------------
.btn {
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  background-color:transparent;
}

.btn-secondary {
  color: $brand-title;
  border-color: $brand-sub-title;
  &:focus,
  &:active{
    color: $brand-red;
    border-color: $brand-red;
  }
  &.disabled,
  &:disabled{
    &:focus,
    &:active{
      color: $brand-sub-title;
      border-color: $brand-sub-title;
    }
  }
}