// 透明度设置
// =====================================================================================
// -------------------------------------------------------------------------------------

@mixin opacity($opacity) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=#{$opacity / 100});
}