<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-lazy-init="true">

	<!-- 配置 Shiro Filter 实现 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/console/login" />
		<property name="successUrl" value="/console/main" />
		<property name="unauthorizedUrl" value="/console/unauth" />
		<property name="filterChainDefinitions">
			<value>
				/console/login = anon
<!-- 				/console/logout = logout  手動退出-->
				/console/main = authc
				/static/** = anon
				/upload/** = anon
				/console/main/** = authc
				/console/admin/* = authc,roles[admin]
				/console/admin/** = authc
				/console/work/** = anon
				/console/** =  authc
				/** = anon
			</value>
		</property>
	</bean>
	
	<!-- shiro 官方配置 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroDbRealm" />
		<property name="cacheManager" ref="shiroEhcacheManager" />
		<!-- 记住我 -->
        <property name="rememberMeManager" ref="rememberMeManager"/>
	</bean>
	
	<!-- 用户授权信息Cache, 采用EhCache -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache-shiro.xml"/>
	</bean>
	
	<!-- 項目自定义的Realm, 所有accountService依赖的dao都需要用depends-on声明 -->
	<bean id="shiroDbRealm" class="com.ybt.service.account.impl.ShiroDbRealm"  depends-on="userDao">
		<property name="userService" ref="userServiceImpl"/>
	</bean>
	
	<!-- rememberMeManager管理器 -->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
           <property name="cookie" ref="rememberMeCookie" />
    </bean>

    <!-- 记住我cookie -->
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
           <constructor-arg value="rememberMe" />
           
           <!-- 记住我cookie生效时间7天 / 秒 -->
           <property name="maxAge" value="604800" />
    </bean>
	
</beans>