
// 主题颜色样式
// ------------------------------------------------------------------------------------
$brand-red:       #D01A28;
$brand-purple:    #884998;
$brand-orgin-dark:#ff4500;
$brand-white:        #FFF;

$brand-title:    #808080;
$brand-sub-title:#c1c5c7;
$brand-bg:       #ECF0F3;
