.card-list-block {
  margin: 0;
}
.card-list-block > ul > li:first-child > .item-content {
  margin-left: 20%;
  width: 60%;
}
.card-list-block > ul > li:first-child > .item-content > .item-inner > .item-title,
.card-list-block > ul > li:first-child > .item-content > .item-inner > .item-input > input {
  font-size: 20px;
  color: #D01A28;
}
.card-list-block > ul > li:last-child > .item-content > .item-inner > .item-input > textarea {
  height: 3rem;
  font-size: 14px;
  color: #D01A28;
}

.buttons-tab .button.active {
  color: #D01A28;
  border-color: #D01A28;
}

.bar > .buttons-tab {
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  overflow: hidden;
}
.bar > .buttons-tab::after {
  content: "";
  height: 0;
}
.bar > .buttons-tab > .button {
  top: 0;
  height: 2.2rem;
  font-size: 16px;
  line-height: 2.2rem;
}
@media screen and (max-width: 376px) {
  .bar > .buttons-tab > .button {
    font-size: 14px;
  }
}
@media screen and (max-width: 321px) {
  .bar > .buttons-tab > .button {
    font-size: 12px;
  }
}

.bar .button-link,
.bar .icon {
  color: #808080;
}

.bar-fixed {
  position: fixed !important;
}

.content-clear-top {
  top: 0 !important;
}

.content-white {
  background-color: #fff;
}

.content-block {
  margin: .5rem  0;
  padding: 0 .5rem;
}

@-webkit-keyframes toTop {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@-moz-keyframes toTop {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@-o-keyframes toTop {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@keyframes toTop {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@-webkit-keyframes toRight {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
@-moz-keyframes toRight {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
@-o-keyframes toRight {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
@keyframes toRight {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
@-webkit-keyframes toBottom {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}
@-moz-keyframes toBottom {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}
@-o-keyframes toBottom {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}
@keyframes toBottom {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}
@-webkit-keyframes toLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-moz-keyframes toLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-o-keyframes toLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes toLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.clear-ba::before, .clear-ba::after {
  content: "";
  height: 0 !important;
  border: 0 !important;
}

.form-bg-transparent ul, .status-write > .list-block ul, .form-bg-transparent ul:before, .status-write > .list-block ul:before, .form-bg-transparent ul:after, .status-write > .list-block ul:after,
.form-bg-transparent ul .item-inner:after,
.status-write > .list-block ul .item-inner:after {
  background-color: transparent;
}

.clearfix:before, .summary-block:before, .img-group > .horizontal:before, .clearfix:after, .summary-block:after, .img-group > .horizontal:after {
  content: " ";
  display: table;
}
.clearfix:after, .summary-block:after, .img-group > .horizontal:after {
  clear: both;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.touch-null {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}

.greeting-card {
  background-color: #FFF;
  padding: 0.75rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.greeting-card > .header {
  position: relative;
  width: 100%;
  height: 100px;
  background: url(../img/icon/header-icon.jpg) no-repeat top center/100% 50% content-box;
}
.greeting-card > .header > span {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  font-size: 24px;
  color: #D01A28;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.greeting-card > .content-img {
  position: relative;
  padding: 1rem;
}
.greeting-card > .content-img > span {
  z-index: 2;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
.greeting-card > .content-img > span > a {
  display: block;
  color: #D01A28;
  text-align: center;
  line-height: 2.5rem;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.6);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
.greeting-card > .content-img > img {
  width: 100%;
}
.greeting-card > .footer {
  padding-top: .5rem;
  text-align: center;
}
.greeting-card > .footer > .user-icon {
  width: 1.5rem;
  opacity: .5;
}
.greeting-card > .footer > .footer-link > a {
  margin-top: 0;
  font-size: 14px;
  color: #c1c5c7;
}
.greeting-card > .footer > .button-pay {
  border: 1px solid #D01A28;
  border-radius: 10rem;
  padding: 2px 2rem;
  font-size: 14px;
  color: #D01A28;
  background-color: transparent;
}
.greeting-card > .footer > .bg-img {
  margin: 1.5rem 0 .5rem;
  width: 100%;
  height: 20px;
  background: url(../img/icon/footer-icon.jpg) no-repeat center center/100% 100% content-box;
}
@media screen and (max-width: 376px) {
  .greeting-card > .header {
    height: 90px;
  }
  .greeting-card > .header > span {
    font-size: 22px;
  }
  .greeting-card > .footer > .footer-title {
    font-size: 18px;
  }
  .greeting-card > .footer > .button-pay {
    font-size: 12px;
  }
  .greeting-card > .footer > .bg-img {
    margin: 1.5rem 0 .3rem;
  }
}
@media screen and (max-width: 321px) {
  .greeting-card > .header {
    height: 70px;
  }
  .greeting-card > .header > span {
    font-size: 18px;
    bottom: 10px;
  }
  .greeting-card > .footer > .user-icon {
    width: 1.4rem;
  }
  .greeting-card > .footer > .card-list-block li:first-child .item-title,
  .greeting-card > .footer > .card-list-block li:first-child input {
    font-size: 18px !important;
  }
  .greeting-card > .footer > .card-list-block li:last-child textarea {
    height: 2rem !important;
    font-size: 12px !important;
  }
  .greeting-card > .footer > .footer-link > a {
    font-size: 12px;
  }
  .greeting-card > .footer > .button-pay {
    font-size: 12px;
  }
  .greeting-card > .footer > .bg-img {
    margin: 1rem 0 .3rem;
  }
}

.brand-orange .header > span,
.brand-orange .footer-title > span,
.brand-orange .card-list-block li:first-child .item-title,
.brand-orange .card-list-block li:first-child input,
.brand-orange .card-list-block li:last-child textarea,
.brand-orange .content-img > span > a,
.brand-orange .button-pay {
  color: #ff4500 !important;
}
.brand-orange > .header {
  background-image: url(../img/icon/kx_t.jpg);
}
.brand-orange > .footer > .button-pay {
  border-color: #ff4500;
}
.brand-orange > .footer > .bg-img {
  background: url(../img/icon/kx_b.jpg) no-repeat center center/100% 100% content-box;
}

.brand-purple .header > span,
.brand-purple .footer-title > span,
.brand-purple .card-list-block li:first-child .item-title,
.brand-purple .card-list-block li:first-child input,
.brand-purple .card-list-block li:last-child textarea,
.brand-purple .content-img > span > a,
.brand-purple .button-pay {
  color: #884998 !important;
}
.brand-purple > .header {
  background-image: url(../img/icon/zh_t.jpg);
}
.brand-purple > .footer > .button-pay {
  border-color: #884998;
}
.brand-purple > .footer > .bg-img {
  background: url(../img/icon/zh_b.jpg) no-repeat center center/100% 100% content-box;
}

.card {
  margin: 0;
  margin-bottom: .5rem;
  border-radius: 0;
  box-shadow: none;
}
.card .card-content > .card-content-inner > h3 {
  margin-top: 0;
  color: #D01A28;
}
.card .card-content > .card-content-inner > p {
  color: #c1c5c7;
}
@media screen and (max-width: 321px) {
  .card .card-content > .card-content-inner > h3 {
    font-size: 14px;
  }
  .card .card-content > .card-content-inner > p {
    font-size: 12px;
  }
}

.card-mobile {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.card-mobile > .tip-modal {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  bottom: 6em;
  padding: 0 1em;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.3);
}
.card-mobile > .tip-modal p {
  font-size: 13px;
}
.card-mobile > .tip-modal:before {
  position: absolute;
  bottom: 0;
  left: 22.3%;
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  content: "";
  height: 0;
  width: 0;
  border-top: 15px solid rgba(0, 0, 0, 0.3);
  border-left: 15px dashed transparent;
  border-right: 15px dashed transparent;
}
.card-mobile > .bar-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1em;
  z-index: 990;
  padding: 0 20%;
  text-align: center;
}
.card-mobile > .bar-menu > a.menu-item {
  color: #FFF;
}
.card-mobile > .bar-menu > a.menu-item > p {
  margin-top: 0;
}
.card-mobile > .bar-menu > a.menu-item.active {
  color: #D01A28;
}
.card-mobile > .bar-menu > a.menu-item.active > p {
  display: none;
}

@media all and (orientation: landscape) {
  .cover-img {
    width: 100%;
    height: auto;
  }
}
@media all and (orientation: portrait) {
  .cover-img {
    display: block;
    position: absolute;
    left: 0;
    width: auto;
    height: 100%;
    -webkit-animation: toLeft 20s linear 1s 2 alternate;
    animation: toLeft 20s linear 1s 2 alternate;
  }
}
.polaroid-template {
  overflow: hidden;
  width: 100%;
  padding: .75rem;
  background-color: #FFF;
}
.polaroid-template > .template-top {
  position: relative;
}
.polaroid-template > .template-top > .text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: .5rem;
}
.polaroid-template > .template-top > .text > h3,
.polaroid-template > .template-top > .text > textarea {
  font-size: 12px;
  color: #FFF;
  -webkit-text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.polaroid-template > .template-top > .text > h3 {
  margin-bottom: 0;
}
.polaroid-template > .template-top > .text > textarea {
  margin-top: 3px;
  width: 98%;
  height: 300px;
  border-style: none;
  background: transparent;
}
.polaroid-template > .card-content {
  vertical-align: top;
}
.polaroid-template > .card-content > h3 {
  color: #D01A28;
}
.polaroid-template > .card-content > h3 > span:first-child, .polaroid-template > .card-content > h3 > span:last-child {
  color: #808080;
}
.polaroid-template > .card-content > h3 > span:first-child {
  margin-right: .3rem;
}
.polaroid-template > .card-content > h3 > span:last-child {
  margin-left: .3rem;
}
.polaroid-template > .card-content > .list-block > ul > li > textarea {
  height: 2.5rem;
}
.polaroid-template > .card-content > .list-block > ul > li > .more {
  display: block;
  padding-top: 1rem;
  font-size: 14px;
  color: #c1c5c7;
}
.polaroid-template > .card-content > .card-footer {
  padding: 0;
  padding-top: 1.5rem;
}
.polaroid-template > .card-content > .card-footer:before {
  content: '';
  height: 0 !important;
}
.polaroid-template > .card-content > .card-footer > span {
  color: #c1c5c7;
}

@media screen and (max-width: 321px) {
  .card-content > h3 {
    font-size: 14px;
  }

  .card-content > .footer-label,
  .card-content > .list-block .item-input > textarea {
    font-size: 12px;
  }
}
.img-mask {
  display: block;
  position: relative;
  margin-bottom: 4px;
  width: 100%;
  height: auto;
  line-height: 0;
}
.img-mask > .mask {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: auto;
  padding: 0 .5rem;
  color: #FFF;
}
.img-mask > .mask p {
  margin: .3rem;
  line-height: 1;
}
.img-mask > .mask p:last-child {
  font-size: 12px;
  margin-bottom: .5rem;
}

.underline {
  padding: 0 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  background-size: 24px 24px !important;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 1px, transparent 0px) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.05) 1px, transparent 0px) !important;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 0px) !important;
}

.hr-divider {
  position: relative;
  margin: 1rem 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.hr-divider:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
}
.hr-divider .hr-divider-content {
  position: relative;
  display: inline-block;
  z-index: 2;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: middle;
  color: #c1c5c7;
  background-color: #efeff4;
}
.hr-divider .hr-divider-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100%;
  color: #c1c5c7;
}
.hr-divider .hr-divider-nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.hr-divider .hr-divider-nav > li {
  position: relative;
  display: block;
  float: left;
}
.hr-divider .hr-divider-nav > li > a {
  position: relative;
  display: block;
  padding: 4px 10px;
  font-size: 100%;
  text-decoration: none;
  color: #808080;
}
.hr-divider .hr-divider-nav > li.active > a,
.hr-divider .hr-divider-nav > li > a:hover,
.hr-divider .hr-divider-nav > li > a:focus {
  color: #D01A28;
}
.hr-divider .hr-divider-nav > li.disabled > a {
  color: #c1c5c7;
}
.hr-divider .hr-divider-nav > li.disabled > a:hover, .hr-divider .hr-divider-nav > li.disabled > a:focus {
  color: #c1c5c7;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

.button-group {
  margin: 0;
}
.button-group > .button {
  display: inline-block;
  margin-bottom: .5rem;
  width: auto;
  text-align: left;
}

.header-banner > .banner {
  position: relative;
  height: 200px;
  background-color: #FFF;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.header-banner > .banner > .banner-content {
  position: absolute;
  left: 1em;
  bottom: 0;
  margin-bottom: -25px;
  width: auto;
  height: 60px;
}
.header-banner > .banner > .banner-content > .banner-img {
  width: 60px;
  border: 2px solid #FFF;
  vertical-align: text-top;
}
.header-banner > .banner > .banner-content > .banner-text {
  display: inline-block;
  font-size: 16px;
  color: #FFF;
}
.header-banner > .banner > .banner-content > .banner-text > .name,
.header-banner > .banner > .banner-content > .banner-text > .tip {
  margin-left: 2px;
}
.header-banner > .body {
  margin-top: 30px;
  padding: 0 1em;
  text-align: center;
}
.header-banner > .body > img {
  display: block;
  margin: 100px auto 10px;
  width: 200px;
  height: 200px;
}

.f-shangchuan {
  position: relative;
  height: 100%;
  padding: 50px 1em;
  text-align: center;
  color: #C1C5C7;
}
.f-shangchuan > .heading {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 40px;
  color: #808080;
}
.f-shangchuan > .text {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 14px;
}
.f-shangchuan > .file-plus {
  position: absolute;
  bottom: 4.5em;
  margin-left: -30px;
  width: 60px;
}

.content-bg-img {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content-bg-img > .body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.fill-button {
  z-index: 2;
  margin: 0 auto;
  width: 80% !important;
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #D01A28;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  color: #D01A28;
  background: transparent;
  transition: all ease-out .3s;
}
.fill-button::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background-color: #D01A28;
}
.fill-button:hover {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}
.fill-button:hover::after {
  width: 100%;
  transition: all .6s ease 0s;
}

.status-write,
.status-failure,
.status-succeed {
  position: relative;
  height: 100%;
}
.status-write > .status-header,
.status-write > .list-block,
.status-failure > .status-header,
.status-failure > .list-block,
.status-succeed > .status-header,
.status-succeed > .list-block {
  position: absolute;
  top: 4em;
  left: 1em;
  right: 1em;
  color: #D01A28;
}
.status-write > .status-footer,
.status-failure > .status-footer,
.status-succeed > .status-footer {
  position: absolute;
  right: 0;
  bottom: 2em;
  left: 0;
}

.status-write > .list-block input[type=text],
.status-write > .list-block input[type=password],
.status-write > .list-block input[type=email],
.status-write > .list-block input[type=tel],
.status-write > .list-block input[type=url],
.status-write > .list-block input[type=date],
.status-write > .list-block input[type=datetime-local],
.status-write > .list-block input[type=time],
.status-write > .list-block input[type=number],
.status-write > .list-block input[type=search],
.status-write > .list-block select,
.status-write > .list-block textarea {
  color: #D01A28;
}

.status-failure > .status-header,
.status-succeed > .status-header {
  text-align: center;
}
.status-failure > .status-header > img,
.status-succeed > .status-header > img {
  margin-top: 50px;
  width: 80px;
}

.status-succeed > .status-header {
  color: #FFF;
}
.status-succeed > .status-footer > .fill-button {
  color: #FFF;
}
.status-succeed > .status-footer > .fill-button::after {
  width: 100%;
}

.user-header-banner > .banner {
  position: relative;
  height: 200px;
  background-color: #FFF;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.user-header-banner > .banner > .banner-content {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 50%;
  text-align: center;
  margin-top: -32px;
  width: auto;
  height: 60px;
}
.user-header-banner > .banner > .banner-content > a > .banner-img {
  width: 60px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.3);
}
.user-header-banner > .banner > .banner-content > .banner-text {
  margin: 0;
  font-size: 14px;
  color: #FFF;
}
.user-header-banner > .banner > .feedback {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 14px;
  color: #D01A28;
}
.user-header-banner > .body {
  margin-top: .5em;
}

.summary-block {
  padding: 1em 0;
  background-color: #FFF;
}
.summary-block > .summary-item {
  display: block;
  float: left;
  width: 25%;
  height: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  text-align: center;
}
.summary-block > .summary-item:last-child {
  border-right: 0;
}
.summary-block > .summary-item .number {
  color: #808080;
}
.summary-block > .summary-item .description {
  color: #808080;
  margin-top: 0;
  margin-bottom: 0;
}

.button-block {
  display: block;
  margin: .5em 0;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #808080;
  background-color: #FFF;
}

.img-group {
  display: block;
  padding: .5em;
  text-align: center;
  background-color: #FFF;
}
.img-group > .horizontal > .link-img {
  display: block;
  float: left;
  margin: 0 1% 1% 0;
  width: 32%;
}
.img-group > .horizontal > .link-img:first-child {
  margin-left: 1%;
}
.img-group > .footer-description {
  display: inline-block;
  margin: 0 1% 1% 0;
  width: 98%;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #808080;
}

/*# sourceMappingURL=custom.css.map */
